.btn {
  border-radius: 2px;
  color: #fff;
  background: linear-gradient(90deg, #93291e 0, #e32119 51%, #e32119);
  display: inline-block;
  font-family: Heebo, Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  border: none;
  letter-spacing: 2px;
  line-height: 1.33em;
  margin-top: 20px;
  overflow: hidden;
  padding: 12px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
